name: Checkout Example

on:
  workflow_dispatch:

jobs:
  checkout-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Verify directory contents
        run: ls -alhR
